//RESET:
@import "sass/reset";

//TIPOGRAFIA:
@import "sass/tipografia";

//CORES:
@import "sass/cores";

//CABEÇALHO:
body {
    display: grid;
    grid-template-columns: 1fr 80vw 1fr;
    grid-auto-rows: 6rem 30rem auto 6rem;
    grid-template-areas:
    "header header header"
    "banner banner banner"
    "aside-left main aside-right"
    "footer footer footer";
    background-color: #202120;
    &::-webkit-scrollbar {
        width: 0.8rem;
    }
    &::-webkit-scrollbar-track {
        background: $gray-01;
        margin: 0.4rem;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $gray-08;
        border-radius: 2rem;
        &:hover {
            background-color: $gray-cc;
        }
    }
}

header {
    position: fixed;
    width: 100vw;
    grid-area: header;
    z-index: 999;
    display: grid;
    grid-template-columns: 2.6rem 16.8rem;
    grid-template-areas: "buttons-menu logo";
    align-items: center;
    gap: 2rem;
    background-color: $gray-02;
    padding: 2rem;
    box-shadow: 0 0.2rem 0.2rem $sombra-default;
    .buttons-menu {
        grid-area: buttons-menu;
        display: grid;
        grid-template-rows: 2rem;
        align-items: center;
        cursor: pointer;
        //border: 0.1rem solid turquoise;
        .barra {
            height: 0.4rem;
            margin: 0.4rem 0;
            background-color: $gray-ff;
            border-radius: 5rem;
        }
        .b2 {
            width: 70%;
        }
        #close {
                display: none;
                //border: 0.1rem solid turquoise;
                width: 3rem;
            .b1 {
                width: 80%;
                transform: rotate(30deg) translate(0.1rem, 0.4rem);
            }
            .b2 {
                width: 80%;
                transform: rotate(-30deg) translate(0.1rem, -0.4rem);
            }
        }
    }
    .logo {
        grid-area: logo;
        height: 2rem;
        background-color: $gray-03;
        //background: url('../media/Logotipo/Logotipo-a.png') center center/100% no-repeat;
        cursor: pointer;
    }
}

//CONTEÚDO:
.menu {
    display: none;
    .menu-conteiner {
        padding-top: 6rem;
        position: fixed;
        display: grid;
        grid-template-columns: 25rem auto;
        grid-template-areas: "menu-lateral overlay";
        width: 100vw;
        height: 100vh;
        background-color: $overlay-dark;
        //border: 0.1rem solid rgb(255, 196, 0);
        ul {
            grid-area: menu-lateral;
            max-width: 50vw;
            height: 100vh;
            overflow-y: scroll;
            float: left;
            text-align: start;
            background-color: $gray-01;
            box-shadow: 0.2rem 0 0.5rem $sombra-default;
            padding-bottom: 6.5rem;
            //border: 0.1rem solid rgb(255, 196, 0);
            &::-webkit-scrollbar {
                width: 0.8rem;
            }
            &::-webkit-scrollbar-track {
                background: $gray-01;
                margin: 0.4rem;
            }
            &::-webkit-scrollbar-thumb {
                border-radius: 2rem;
            }
            &:hover {
                &::-webkit-scrollbar-thumb {
                    background-color: $gray-06;
                    &:hover {
                        background-color: $gray-cc;
                    }
                }
            }
            li {
                display: grid;
                margin: 1rem 0.5rem;
                //border: 0.1rem solid rgb(255, 196, 0);
                a {
                    //border: 0.1rem solid rgb(255, 196, 0);
                    display: grid;
                    grid-template-columns: 1.6rem 1fr;
                    align-items: bottom;
                    gap: 2.8rem;
                    padding: 1rem 1.5rem;
                    font-size: 1.6rem;
                    color: $gray-dd;
                    font-weight: 400;
                    i {
                        font-size: 1.8rem;
                    }
                    &:hover {
                        color: $gray-ff;
                        background-color: rgba($gray-ff,0.1);
                    }
                }
            }
            hr {
                border: 0.1rem solid $gray-02;
                margin: 1rem;
            }
            .overlay {
                grid-area: overlay;
            }
        }
    }
}

.banner {
    grid-area: banner;
    display: grid;
    background: linear-gradient(to top, $gray-01, $gray-03);
    #texto {
        display: grid;
        justify-items: center;
        align-content: center;
        text-align: center;
        h2 {
            color: $gray-ff;
        } 
        h3 {
            color: rgba($gray-ff,0.75);
            padding: 0 10%;
        }
    }
    #actions {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2.5rem;
        .button {
            align-self: center;
            display: grid;
            grid-template-columns: 1fr auto;
            justify-items: center;
            align-items: center;
            padding: 1.6rem;
            width: 80%;
            max-width: 20rem;
            border-radius: 5rem;
            cursor: pointer;
            font-weight: 700;
            background-color: $gray-03;
            color: $gray-ff;
            font-size: 1.6rem;
            //border: 0.1rem solid rgb(255, 196, 0);
            i {
                font-size: 1.6rem;
                //border: 0.1rem solid rgb(255, 196, 0);
            }
        }
        #button-cadastrar {
            justify-self: right;
        }
        #button-sobre {
            justify-self: left;
            background-color: $gray-ff;
            color: $gray-03;
        }
        .button:hover, #button-sobre:hover {
            background-color: $cor-tema;
            color: $gray-ff;
        }
    }
}
    
main {
    grid-area: main;
    display: grid;
    padding: 5%;
    background-color: rgba($cor-tema,0.2);
    .servicos {
        grid-area: servicos;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        background-color: rgba($cor-tema,0.3);
        .servico {
            min-width: 30rem;
            background-color: black;
            display: grid;
            box-shadow:
                0.2rem 0.2rem 0.5rem $sombra-default,
                -0.2rem -0.2rem 0.5rem $brilho-default;
            h2 {
                background-color: rgba($cor-tema,1);
                text-align: center;
                font-size: 2.8rem;
            }
            h3, h4, p {
                color: rgba($gray-ff,0.8);
            }
            p {
                font-size: 1.6rem;
            }
            div {
                padding: 10%;
            }
        }
    }
}

aside {
    display: none;
    background-color: $gray-02;
    .left {
        grid-area: aside-left;
    }
    .right {
        grid-area: aside-right;
    }
}

footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: "copyright social";
    align-content: center;
    justify-content: space-between;
    background-color: $gray-02;
    box-shadow: 0rem -0.2rem 0.5rem $sombra-default;
    padding: 2rem;
    text-align: center;
    .copyright {
        grid-area: copyright;
        display: grid;
        align-items: center;
        p {
            color: $gray-dd;
            font-size: 1.6rem;
        }
    }
    .social {
        grid-area: social;
        display: grid;
        grid-template-columns: 4rem 4rem auto;
        a {
            display: grid;
            align-items: center;
            justify-content: center;
            color: $gray-dd;
            font-size: 2.5rem;
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            background: linear-gradient(to bottom, $gray-01 0%, $gray-03 100%);
            box-shadow:
            0.2rem 0.2rem 0.5rem $sombra-default,
            -0.2rem -0.2rem 0.5rem $brilho-default;
                &:hover {
                background: linear-gradient(to bottom, $cor-tema 0%, $cor-tema 60%);
                color: $gray-ff;
            }
        }
    }
}