@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  font-family: 'Quicksand', sans-serif;
  font-size: 100%;
  text-decoration: none;
  line-height: 1.5em;
}

/*Montserrat
font-family: 'Montserrat', sans-serif;*/
/*Poppins
font-family: 'Poppins', sans-serif;*/
/*Quicksand
font-family: 'Quicksand', sans-serif;*/
/*Roboto
font-family: 'Roboto', sans-serif;*/
h1, h2, h3, h4, h5, h6, p {
  color: #FFFFFF;
}

h1 {
  font-size: 2em;
  font-weight: 900;
}

h2 {
  font-size: 1.8em;
  font-weight: 700;
}

h3 {
  font-size: 1.6em;
  font-weight: 600;
}

h4, h5 {
  font-weight: 500;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 80vw 1fr;
      grid-template-columns: 1fr 80vw 1fr;
  grid-auto-rows: 60px 300px auto 60px;
      grid-template-areas: "header header header" "banner banner banner" "aside-left main aside-right" "footer footer footer";
  background-color: #202120;
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
  z-index: 999;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto 1fr;
      grid-template-columns: auto auto 1fr;
      grid-template-areas: "buttons-menu logo none";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  background-color: #292929;
  padding: 20px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

header .buttons-menu {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: buttons-menu;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 20px;
  cursor: pointer;
}

header .buttons-menu .barra {
  height: 4px;
  margin: 4px 0;
  background-color: white;
  border-radius: 50px;
}

header .buttons-menu .b2 {
  width: 70%;
}

header .buttons-menu #close {
  display: none;
}

header .buttons-menu #close .b1 {
  width: 80%;
  -webkit-transform: rotate(40deg) translate(4px, 2px);
          transform: rotate(40deg) translate(4px, 2px);
}

header .buttons-menu #close .b2 {
  width: 80%;
  -webkit-transform: rotate(-40deg) translate(4px, -2px);
          transform: rotate(-40deg) translate(4px, -2px);
}

header .logo {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: logo;
  width: 168px;
  height: 20px;
  background-color: #393939;
  cursor: pointer;
}

header .menu {
  margin: 40px 0 0 -20px;
  position: fixed;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

header .menu ul {
  width: 200px;
  max-width: 50vw;
  height: 100vh;
  overflow-y: scroll;
  padding: 0 0 20px 24px;
  float: left;
  text-align: start;
  background-color: #191919;
  -webkit-box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
}

header .menu ul::-webkit-scrollbar {
  width: 8px;
}

header .menu ul::-webkit-scrollbar-track {
  background: #191919;
  margin: 4px;
}

header .menu ul::-webkit-scrollbar-thumb {
  border-radius: 20px;
}

header .menu ul:hover::-webkit-scrollbar {
  width: 8px;
}

header .menu ul:hover::-webkit-scrollbar-track {
  background: #292929;
}

header .menu ul:hover::-webkit-scrollbar-thumb {
  background-color: #898989;
  border-radius: 20px;
}

header .menu ul:hover::-webkit-scrollbar-thumb:hover {
  background-color: #AAAAAA;
}

header .menu ul li {
  width: 100%;
  margin: 20px 0;
}

header .menu ul li a {
  font-size: 1em;
  color: #DDDDDD;
  font-weight: 400;
}

header .menu ul li a i {
  margin-right: 10%;
}

header .menu ul li a:hover {
  color: #FFFFFF;
}

header .menu ul hr {
  border: 1px solid #292929;
}

.banner {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: banner;
  display: -ms-grid;
  display: grid;
  background: -webkit-gradient(linear, left bottom, left top, from(#191919), to(#393939));
  background: linear-gradient(to top, #191919, #393939);
}

.banner #texto {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

.banner #texto h2 {
  color: #FFFFFF;
}

.banner #texto h3 {
  color: rgba(255, 255, 255, 0.75);
  padding: 0 10%;
}

.banner #actions {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 5%;
}

.banner #actions .button {
  -ms-grid-row-align: center;
      align-self: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
  width: 80%;
  max-width: 200px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 700;
  background-color: #393939;
  color: #FFFFFF;
}

.banner #actions #button-cadastrar {
  -ms-grid-column-align: right;
      justify-self: right;
}

.banner #actions #button-sobre {
  -ms-grid-column-align: left;
      justify-self: left;
  background-color: #FFFFFF;
  color: #393939;
}

.banner #actions .button:hover, .banner #actions #button-sobre:hover {
  background-color: #7400e0;
  color: #FFFFFF;
}

main {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: main;
  display: -ms-grid;
  display: grid;
  padding: 5%;
  background-color: rgba(0, 128, 0, 0.2);
}

main .servicos {
  grid-area: servicos;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  background-color: rgba(0, 128, 0, 0.3);
}

main .servicos .servico {
  display: -ms-grid;
  display: grid;
  background: -webkit-gradient(linear, left bottom, left top, from(#292929), color-stop(20%, #191919));
  background: linear-gradient(to top, #292929 0%, #191919 20%);
  text-align: left;
  -webkit-box-shadow: 2px 2px 5px #00000050, -2px -2px 5px #a200ff99;
          box-shadow: 2px 2px 5px #00000050, -2px -2px 5px #a200ff99;
}

main .servicos .servico h2 {
  width: 100%;
  padding: 80px 0;
  text-align: center;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(60%, #191919), color-stop(120%, #a200ff99));
  background: linear-gradient(to top, #191919 60%, #a200ff99 120%);
  font-size: 1.8em;
}

main .servicos .servico h3, main .servicos .servico h4, main .servicos .servico p {
  color: #AAAAAA;
  margin: 5px 0;
}

main .servicos .servico div {
  padding: 5%;
}

aside {
  display: none;
  background-color: #292929;
}

aside .left {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: aside-left;
}

aside .right {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: aside-right;
}

footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
      grid-template-areas: "copyright social";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #292929;
  -webkit-box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
}

footer .copyright {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: copyright;
  display: -ms-grid;
  display: grid;
  height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .copyright p {
  color: #DDDDDD;
}

footer .social {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: social;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40px 40px auto;
      grid-template-columns: 40px 40px auto;
}

footer .social a {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #DDDDDD;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#191919), to(#393939));
  background: linear-gradient(to bottom, #191919 0%, #393939 100%);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(225, 225, 225, 0.2);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(225, 225, 225, 0.2);
}

footer .social a:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#7400e0), color-stop(60%, #7400e0));
  background: linear-gradient(to bottom, #7400e0 0%, #7400e0 60%);
}
/*# sourceMappingURL=style.css.map */