//RESET:
@charset "UTF-8";

//OUTRAS CONFIGURAÇÕES:
* {
    margin: 0;
    padding: 0;
    max-width: 100%;
    border: none;
    outline: none;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 100%;
    text-decoration: none;
    line-height: 1.5em;
}

/*html, body {
    display: grid;
    grid-column: 1;
    grid-row: 3;
}*/